<div class="page-header">
  <%= link_to new_work_history_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Work history
  <% end %>
  <h1>Listing work_histories</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Resume</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @work_histories) do |work_history| %>
            <td><%= work_history.resume_id %></td>
            <td><%= link_to 'Show', work_history %></td>
        <td><%= link_to 'Edit', edit_work_history_path(work_history) %></td>
        <td><%= link_to 'Destroy', work_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
