<div class="page-header">
  <%= link_to resumes_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_resume_path(@resume), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1 class="lobster"><%= @resume.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt>User:</dt>
  <dd><%= @resume.user.email %></dd>

</dl>

<h2 class="lobster">Work history</h2>
<% if @resume.work_histories.blank? %>
No work experience yet
<% else %>
<div id="work_histories">
  <%= render :partial => "work_histories/index",:locals=>{:work_histories=>@resume.work_histories.order("'from' desc")} %>
</div>
<% end %>
<div id="workhistoryform" class="collapse">
  <%= render :partial => "work_histories/form",:locals=>{:resume_id=>@resume.id} %>
</div>
<BR>
<a class="btn btn-primary" id="addworkhistory_btn" data-toggle="collapse" data-target="#workhistoryform">Add work history</a>

<h2 class="lobster">Education history</h2>
<% if @resume.education_histories.blank? %>
No education history yet
<% else %>
<div id="education_histories">
  <%= render :partial => "education_histories/index",:locals=>{:education_histories=>@resume.education_histories.order("'from' desc")} %>
</div>
<% end %>
<div id="educationhistoryform" class="collapse">
  <%= render :partial => "education_histories/form",:locals=>{:resume_id=>@resume.id} %>
</div>
<BR>
<a class="btn btn-primary" id="addeducationhistory_btn" data-toggle="collapse" data-target="#educationhistoryform">Add education history</a>